{erl_opts, [
   %native, {hipe, o3},
]}.

{lib_dirs, [".", "deps"]}.
{cover_enabled, true}.

{deps, [
   {feta, ".*",
      {git, "http://github.com/fogfish/feta", {branch, master}}
   }

  ,{pipe, ".*",
      {git, "http://github.com/kfsm/pipe", {branch, master}}
   }
  
  ,{pns, ".*",
      {git, "http://github.com/fogfish/pns", {branch, master}}
   }

   % erlang toolkit
%  ,{datum, ".*",
%      {git, "http://github.com/fogfish/datum", {branch, master}}
%   }

   % in-memory cache
  ,{cache, ".*",
      {git, "http://github.com/fogfish/cache", {branch, master}}
   }

  % process library
  ,{eleveldb, ".*",
      {git, "http://github.com/basho/eleveldb", {branch, master}}
   }
]}.
