{erl_opts, [
   %native, {hipe, o3},
]}.

{lib_dirs, [".", "deps"]}.
{cover_enabled, true}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{pipe, ".*",
      {git, "https://github.com/kfsm/pipe", {branch, master}}
   }
  
  ,{pns, ".*",
      {git, "https://github.com/fogfish/pns", {branch, master}}
   }

  ,{datum, ".*",
     {git, "https://github.com/fogfish/datum", {branch, master}}
   }

   % in-memory cache
  ,{cache, ".*",
      {git, "https://github.com/fogfish/cache", {branch, master}}
   }

  % eleveldb
  % neotoma is required due to clone / compile issue with rebar
  ,{neotoma,  ".*", {git, "git://github.com/seancribbs/neotoma.git", {branch, master}}}
  ,{eleveldb, ".*",
      {git, "https://github.com/basho/eleveldb", {branch, develop}}
   }
]}.

{plugins, [pc]}.

